@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    font-family: "Roboto", sans-serif;;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

.maindiv {
    width: 440px;
    height: 480px;
    display: flex;
    overflow: hidden;
    box-shadow: 5px 5px 10px rgb(228, 228, 228);
    flex-direction: column;
    transition: 0.3s;
}

.maindiv:hover {
    scale: 1.02;
    box-shadow: 5px 5px 10px ;
}

img {
    -webkit-filter: grayscale(200%); 
    filter: grayscale(200%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.overimage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding-bottom: 150px;
}

h1 {
    padding: 25px;
}

h2 {
    display: flex;
    justify-content: center;
}

.h2 {
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}

li {
    display: flex;
    justify-content: center;
    font-size: 22px;
    padding-top: 10px;
    font-weight: 100;
}

button {
    width: 120px;
    height: 45px;
    margin-top: 18px;
    margin-left: 165px;
    padding-top: 12px;
    padding: 10px;
    background-color: hsl(0, 0%, 100%);
    border: 1px solid black;
    color: rgb(0, 0, 0);

    font-size: 20px;
     
    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.3s;
    cursor: pointer;
}

button:hover {
    background-color: rgb(27, 27, 27);
    transition: 0.3s;
    color: white;
}
