.car{
    width: 200px;
    height: 200px;
    border: 5px solid black;
    box-sizing: border-box;

    background-image: url(https://tse4.mm.bing.net/th?id=OIP.rW6Ggc2WtiEkaK6D-D_y7wHaEV&pid=Api&P=0&h=220);
    background-size: cover;
    background-position: center;
    border-radius: 8px;
}
.car2{
    width: 200px;
    height: 200px;
    border: 5px solid black;
    box-sizing: border-box;

    background-image: url(https://tse3.mm.bing.net/th?id=OIP.5ytkVr4Az94gaqEwFJU0-gHaFD&pid=Api&P=0&h=220);
    background-size: cover;
    background-position: center;
    border-radius: 8px;
}
