table {
    width: 900px;
    font-size: 30px;
    background-color: cadetblue;
    text-align: center;
    border: 2px solid black;
    border-collapse: collapse;
}

th {
    border: 2px solid black;
}

td {
    border: 2px solid black;
}
